* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #2B2D42;
  --color-secondary: #41E2BA;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --color-titanium-yellow: #F7E733;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px #E86A92;
}

.light-mode {
  --color-primary: #F7F7F9;
  --color-secondary: #2B2D42;
  --color-white: #E86A92;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #12181b;
  --color-grey-2: #2a2e35;
  --color-grey-3: #454e56;
  --color-grey-4: #dbe1e8;
  --color-grey-5: #6c7983;
  --color-grey-6: #b2becd;
  --color-titanium-yellow: #E86A92;
}

body {
  background-color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: all 0.4s ease-in-out;
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scalAnim 1s ease-in-out;
          animation: scalAnim 1s ease-in-out;
}
@-webkit-keyframes scalAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scalAnim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  right: 3%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.controls .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0;
  box-shadow: var(--box-shadow-1);
  -webkit-animation: none;
          animation: none;
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  text-shadow: 0 0px 10px #2B2D42;
  pointer-events: none;
}
.controls .active-btn {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white);
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}
.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: #41E2BA;
  filter: grayscale(30%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}
.header-content .left-header .image {
  border-radius: var(--br-sm-2);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  background-color: #F7F7F9;
  box-shadow: 0 3px 130px #E86A92;
  transition: all 0.4s ease-in-out;
}
.header-content .left-header .image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}
.header-content .left-header .image img:hover {
  filter: grayscale(0);
}
.header-content .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 18rem;
}
.header-content .right-header .name {
  font-size: 3rem;
}
.header-content .right-header .name span {
  color: var(--color-secondary);
}
.header-content .right-header p {
  margin: 1.5rem 0;
  line-height: 2rem;
}

.btn-con {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  z-index: -1;
}
.main-btn:hover {
  transition: all 0.4s ease-in-out;
}
.main-btn:hover::before {
  transform: translateX(0);
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 span {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-4);
  transition: all 0.4s ease-in-out;
  z-index: -1;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .right-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about-container .right-about .about-item {
  border: 1px solid var(--color-grey-4);
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}
.about-container .right-about .about-item:hover {
  cursor: default;
  transform: translateY(-5px);
  border: 1px solid var(--color-secondary);
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
}
.about-container .right-about .about-item .abt-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
.about-container .right-about .about-item .abt-text .large-text {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-secondary);
}
.about-container .right-about .about-item .abt-text .small-text {
  padding-left: 3rem;
  position: relative;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--color-grey-1);
  letter-spacing: 2px;
}
.about-container .right-about .about-item .abt-text .small-text::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 2rem;
  height: 2px;
  background-color: var(--color-titanium-yellow);
}
.about-container .left-about {
  padding-right: 5rem;
}
.about-container .left-about p {
  line-height: 2rem;
  padding: 1rem;
  color: var(--color-grey-1);
}
.about-container .left-about h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
.about-container .left-about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  left: 20px;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.about-container .left-about ul li {
  color: var(--color-secondary);
}
.about-container .left-about ul li:hover {
  cursor: default;
  font-size: 1.5rem;
  text-shadow: 0 0 10px var(--color-secondary);
  color: var(--color-titanium-yellow);
}

.about-ongoing {
  padding-bottom: 4rem;
}
.about-ongoing .progress-bars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.about-ongoing .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-ongoing .progress-bars .progress-bar .prog-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-ongoing .progress-bars .progress-bar .prog-con {
  display: flex;
  align-items: center;
}
.about-ongoing .progress-bars .progress-bar .prog-text {
  color: var(--color-grey-2);
}
.about-ongoing .progress-bars .progress-bar .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-3);
  margin-left: 0.25rem;
  position: relative;
}
.about-ongoing .progress-bars .progress-bar .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}
.about-ongoing .progress-bars .progress-bar .progress .portfolio-1 {
  width: 75%;
}
.about-ongoing .progress-bars .progress-bar .progress .portfolio-2 {
  width: 10%;
}
.about-ongoing .progress-bars .progress-bar .progress .dsa {
  width: 5%;
}

.start-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
}
.start-title::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 40%;
  height: 1px;
  background-color: var(--color-grey-4);
  transform: translateX(-50%);
}

.about-experience {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding-bottom: 3rem;
}
.about-experience .experience-item {
  position: relative;
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-4);
}
.about-experience .experience-item .exp-icon {
  position: absolute;
  left: -27px;
  top: 0;
  background-color: var(--color-secondary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-experience .experience-item .exp-icon i {
  font-size: 1.3rem;
}
.about-experience .experience-item .exp-duration {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-4);
  border-radius: 15px;
  display: inline-block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.about-experience .experience-item h5 {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 600;
}
.about-experience .experience-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.2rem;
}
.about-experience .experience-item p {
  color: var(--color-grey-2);
}

.port-text {
  padding: 2rem 0;
  text-align: center;
}

.portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}
.portfolios .portfolio-item {
  position: relative;
}
.portfolios .portfolio-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
  font-size: 1.5rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items .icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolios .portfolio-item .hover-items .icon {
  background-color: var(--color-primary);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icon:hover {
  background-color: var(--color-white);
}
.portfolios .portfolio-item .hover-items .icon:hover i {
  color: var(--color-primary);
}

.portfolio-item:hover .hover-items {
  opacity: 1;
  transform: scale(1);
}

.contact-content-con {
  display: flex;
  padding: 3.5rem;
}
.contact-content-con .left-contact {
  flex: 2;
}
.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
}
.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
}
.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-self: center;
  font-size: 1.3rem;
}
.contact-content-con .left-contact .contact-icons {
  display: flex;
  margin-top: 2rem;
}
.contact-content-con .left-contact .contact-icons a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-4);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
}
.contact-content-con .left-contact .contact-icons a:hover {
  background-color: var(--color-secondary);
}
.contact-content-con .left-contact .contact-icons a:hover i {
  color: var(--color-primary);
}
.contact-content-con .left-contact .contact-icons a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
}
.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}
.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-4);
  width: 100%;
  color: var(--color-white);
  resize: none;
}
.contact-content-con .right-contact .i-c-2 {
  display: flex;
}
.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}
.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-grey-3);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.45rem;
  color: var(--color-grey-1);
  pointer-events: none;
}

@media screen and (max-width: 480px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 2rem !important;
  }
  .theme-btn {
    top: 2.5%;
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .left-header .image img {
    height: 100% !important;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.1rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .about-ongoing .progress-bars {
    grid-template-columns: 1fr;
  }
  .about-experience {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .contact-content-con {
    padding: 5rem 0;
    flex-direction: column;
  }
  .contact-content-con .left-contact .contact-item {
    font-size: 1rem;
  }
  .contact-content-con .left-contact .contact-item .icon i {
    font-size: 1rem !important;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .submit-btn {
    justify-content: center !important;
  }
  .main-btn .btn-text {
    font-size: 1rem !important;
    padding: 0 1rem;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .section .main-title {
    padding: 5%;
  }
  .section .main-title h2 {
    font-size: 3rem !important;
  }
  .section .main-title h2 .bg-text {
    width: 100%;
    font-size: 3.5rem !important;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-4);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header .right-header {
    padding: 2rem !important;
  }
  .theme-btn {
    top: 2.5%;
    width: 50px;
    height: 50px;
  }
  .header-content {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  .right-header .name {
    font-size: 2.1rem !important;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-container .right-about {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
  }
  .about-container .left-about {
    padding-right: 0;
  }
  .about-container .left-about p {
    padding-left: 0;
  }
  .about-ongoing .progress-bars {
    grid-template-columns: 1fr;
  }
  .about-experience {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .portfolios {
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }
  .contact-content-con {
    padding: 5rem 0;
    flex-direction: column;
  }
  .contact-content-con .left-contact .contact-item {
    font-size: 1rem;
  }
  .contact-content-con .left-contact .contact-item .icon i {
    font-size: 1rem !important;
  }
  .contact-content-con .right-contact {
    margin-left: 0;
    margin-top: 2.5rem;
  }
  .contact-content-con .right-contact .submit-btn {
    justify-content: center !important;
  }
  .main-btn .btn-text {
    font-size: 1rem !important;
    padding: 0 1rem;
  }
  .section {
    padding: 2rem 2.5rem !important;
  }
  .section .main-title {
    padding: 5%;
  }
  .section .main-title h2 {
    font-size: 3rem !important;
  }
  .section .main-title h2 .bg-text {
    width: 100%;
    font-size: 3.5rem !important;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-4);
  }
  .controls .control {
    margin: 1rem 0.3rem;
  }
}
@media screen and (max-width: 1540px) {
  .section .main-title h2 {
    font-size: 4.6rem !important;
  }
  .section .main-title h2 .bg-text {
    width: 100%;
    font-size: 5.2rem !important;
  }
}/*# sourceMappingURL=styles.css.map */